html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}


/*=========Fixing the Home Page (index.html)==========*/

/*----Starting with the mobile version---*/
/* --resizing the header image-- */
.logo {
  max-width: 100px;
  margin-top: 20px;
  margin-left: 10px;
}

/*---- Organizing the body---- */
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  background-position: center 100%;
  background-size: 100%;
}



/*--Positioning the main nav and styling it--*/

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  margin-left: -20px;
  list-style-type: none;
}

.nav-list a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav-list a:hover {
  color: #556b2f;
}

.navabout,
.navblog,
.navservices,
.navgallery,
.navcontact {
  padding: 5px;
}





/* --Fixing the cover image advertisement content above the image in a container-- */
.container {
  display: flex;
  background-image: url(Images/Rola\(960x540\).jpg);
  background-size: cover;

  /* --Fixing the background image and styling it-- */
  box-shadow: 0 0 20px #E0C7AB;
  max-width: 100%;
  height: 250px;

}


/*--positioning the advertisement text (hodaphotography..nowopen)--*/
.text-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: white;
  padding-top: 20px;
  bottom: 20px;
  right: 20px;
  padding-left: 200px;
  opacity: 0.6;
}

.homeh2 {
  padding-bottom: 30px;
}



/* --Fixing the container home with all its contents including the image and the paragraph */
.orangehome {
  color: #EC7F1F;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* fixing image with paragraph */
.homeparag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}


.img2 {
  width: 200px;
  height: 280px;
  margin-top: 20px;
  box-shadow: 0 0 20px #ffe7e9;
}

/* --Fixing the home paragraph */

.specialofferhome {
  color: white;
  font-style: italic;
  font-size: medium;
  margin-right: 30px;
  padding-right: 20px;
  padding-left: 30px;
  background-image: url(images/adele-morris-fEQjQQETU_c-unsplash\(1\).jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  box-shadow: 0 0 30px #AA8575;
}

.homeoffer,
.homeevent {

  display: flex;
  position: relative;
  padding-top: 15px;
}

.promotehome {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

/* animation for the visit us by hovering image with paragraph on whole main page */
.containeravatar {
  position: relative;
  width: 100%;
}

.beachimage {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 25px;
  box-shadow: 0 0 20px rgb(224, 199, 171);
}

.overlay {
  background-image: url(Images/videographer.jpg);
  position: absolute;
  bottom: 100%;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: .4s ease;
}

.containeravatar:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: black;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  animation-delay: 0s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Fixing the button */
.buttonhome {
  display: flex;
  justify-content: center;


}

.quotehome {
  padding: 5px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #AA8575;
  background-color: black;
}

.quotehome:hover {
  color: #EC7F1F;
}



/* fixing the footer (social media contents and the copy right) */
/* fixing the social home */
.socialhome {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.twit,
.inst,
.face {
  padding: 10px;
}

/* Aligning the copyright footer */
.copyhome {
  font-weight: lighter;
  color: #E0C7AB;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 10px;
}



@media screen and (min-width: 508px) {
  .logo {
    max-width: 100px;
    margin-top: 20px;
    margin-left: 15px;
  }


  /*--Positioning the main nav and styling it--*/

  .nav-list {
    display: flex;
    flex-direction: row;
  }

  .nav-list a {
    color: white;
    font-size: 25px;
  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 320px;
    padding-top: 30px;
    opacity: 0.7;
  }

  /* changing the nowopen text padding bottom according to the media size */
  .homeh2 {
    padding-bottom: 10px;
  }


  /* fixing image with paragraph */
  .homeparag {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }


  .img2 {
    width: 300px;
    height: 380px;
    box-shadow: 0 0 20px #ffe7e9;
  }

  /* --Fixing the home paragraph */
  .orangehome {
    padding-top: 10px;
    margin-top: 28px;
    font-size: 35px;
  }

  .specialofferhome {
    color: white;
    font-style: italic;
    font-size: 20px;
    margin-right: 20px;
    padding-left: 20px;

  }




}

@media screen and (min-width: 534px) {
  /* --Fixing the home paragraph */

  .specialofferhome {
    margin-right: 30px;
    padding-left: 20px;
  }
}



@media screen and (min-width: 646px) {

  /* --resizing the header image and positioning it-- */
  .logo {
    max-width: 150px;
    margin-top: 20px;

  }

  /*--Positioning the main nav and styling it--*/

  .nav-list {
    display: flex;
    flex-direction: row;
  }

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-size: cover;
    /* --Fixing the background image and styling it-- */
    box-shadow: 0 0 20px #E0C7AB;
    max-width: 100%;
    height: 350px;
  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 600px;
    padding-top: 80px;
    opacity: 0.8;
  }



  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 380px;
    padding-top: 80px;
    opacity: 0.8;
  }


  .homeh2 {
    position: relative;
    bottom: 30px;
    padding-right: 30px;
  }

  /* fixing image with paragraph */

  .img2 {
    width: 400px;
    height: 480px;
    box-shadow: 0 0 20px #ffe7e9;
  }

  /* --Fixing the home paragraph */

  .specialofferhome {
    color: white;
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }



  /* Fixing the button */


  .quotehome {
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #AA8575;
    background-color: black;
  }




  /* fixing the footer (social media contents and the copy right) */
  /* fixing the social home */
  .socialhome {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }


  /* Aligning the copyright footer */
  .copyhome {
    font-weight: lighter;
    color: #E0C7AB;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 15px;
  }

}

@media screen and (min-width: 724px) {

  /* --fixing the now open on the cover image */
  .homeh2 {
    position: relative;
    bottom: 40px;
    padding-right: 80px;
    font-weight: bold;
  }
}

@media screen and (min-width: 821px) {

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 550px;
    padding-top: 80px;
    opacity: 0.8;
  }


  /* fixing the image of the kid */
  .img2 {
    width: 450px;
    height: 480px;
    box-shadow: 0 0 20px #ffe7e9;
  }

  /* --Fixing the home paragraph */

  .specialofferhome {
    color: white;
    font-style: italic;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 20px;
  }

  /* fixing the promotion font */
  .promotehome {
    color: white;
    margin-left: 10px;
    font-size: 25px;
  }
}

@media screen and (min-width: 890px) {

  /* Fixing the logo size and position */
  .logo {
    width: 200px;
    max-width: 20%;
    margin-bottom: 20px;
  }

  /* Fixing the navigation font and position */
  .nav-list a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;

  }
}

@media screen and (min-width: 935px) {

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-image: url(Images/rolascaled.jpg);
    background-size: cover;

  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 620px;
    padding-top: 80px;
    opacity: 0.8;
  }
}

@media screen and (min-width: 941px) {

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-size: cover;

    /* --Fixing the background image and styling it-- */
    box-shadow: 0 0 20px #E0C7AB;
    max-width: 100%;
    height: 450px;

  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 600px;
    padding-top: 80px;
    opacity: 0.8;
  }

  /* --fixing the now open on the cover image */
  .homeh2 {
    position: relative;
    bottom: 40px;
    padding-right: 80px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1042px) {

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 680px;
    padding-top: 80px;
    opacity: 0.8;
    font-size: large;
  }

  /* --fixing the now open on the cover image */
  .homeh2 {
    position: relative;
    bottom: 40px;
    padding-right: 80px;
    font-weight: bold;
  }

  /* --Fixing the container home with all its contents including the image and the paragraph */
  .orangehome {
    color: #EC7F1F;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 10px;
  }

  /* fixing the promotion font */
  .promotehome {
    color: white;
    margin-left: 10px;
    font-size: 30px;
  }

}

@media screen and (min-width: 1158px) {

  /* Fixing the special offer content sizes and position */
  .specialofferhome {
    color: white;
    font-style: italic;
    font-size: small;
    margin-right: 30px;
    padding-right: 20px;
    padding-left: 30px;
    background-image: url(images/adele-morris-fEQjQQETU_c-unsplash\(1\).jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    box-shadow: 0 0 30px #AA8575;
  }
}

@media screen and (min-width: 1175px) {

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-image: url(Images/rolascaled.jpg);
    background-size: cover;
    /* --Fixing the background image and styling it-- */
    box-shadow: 0 0 20px #E0C7AB;
    max-width: 100%;
    height: 450px;

  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 750px;
    padding-top: 80px;
    font-size: larger;
    opacity: 0.8;
  }

  /* --Fixing the home paragraph */
  /* --Fixing the container home with all its contents including the image and the paragraph */
  .orangehome {
    color: #EC7F1F;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 10px;
  }



  .img2 {
    width: 600px;
    height: 680px;
    box-shadow: 0 0 20px #ffe7e9;
  }

  .specialofferhome {
    color: white;
    font-style: italic;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 40px;
  }

}

@media screen and (min-width: 1245px) {

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-image: url(Images/rolascaled.jpg);
    background-size: cover;

    /* --Fixing the background image and styling it-- */
    box-shadow: 0 0 20px #E0C7AB;
    max-width: 100%;
    height: 550px;

  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 850px;
    padding-top: 80px;
    font-size: larger;
    opacity: 0.8;
  }

  .homeh2 {
    position: relative;
    bottom: 40px;
    padding-right: 80px;
    font-weight: bold;

  }
}

/* fixing the font and size of the text on the overlay */
.text {
  color: black;
  font-size: 60px;

}


@media screen and (min-width: 1384px) {

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-size: cover;

    /* --Fixing the background image and styling it-- */
    box-shadow: 0 0 20px #E0C7AB;
    max-width: 100%;
    height: 650px;

  }


  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 950px;
    padding-top: 80px;
    font-size: x-large;
    opacity: 0.7;
  }

}

@media screen and (min-width: 1508px) {
  .homeh2 {
    position: relative;
    bottom: 40px;
    padding-right: 80px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1604px) {

  /*--Positioning the main nav and styling it--*/

  .nav-list {
    display: flex;
    flex-direction: row;
  }

  .nav-list a {
    color: white;
    font-size: 25px;
  }

  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {

    height: 750px;

  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 950px;
    padding-top: 80px;
    font-size: xx-large;
    opacity: 0.7;
  }

  .img2 {
    width: 800px;
    height: 1000px;

  }

  .specialofferhome {
    color: white;
    font-style: italic;
    font-size: 35px;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 60px;
  }

  /* fixing the footer (social media contents and the copy right) */
  /* fixing the social home */
  .socialhome {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: -40px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1628px) {

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    display: flex;
    flex-wrap: wrap;
    color: white;
    bottom: 20px;
    right: 20px;
    padding-left: 1200px;
    padding-top: 80px;
    font-size: xx-large;
    opacity: 0.7;
  }

}

@media screen and (min-width: 1920px) {


  /* --Fixing the cover image advertisement content above the image in a container-- */
  .container {
    display: flex;
    background-image: url(Images/home\ featured.jpg);
    background-size: cover;
    width: 100%;
    height: 1150px;

  }

  /*--positioning the advertisement text (hodaphotography..nowopen)--*/
  .text-block {
    color: white;
    margin-bottom: 20px;
    padding-right: 500px;
    margin-left: -1000px;
    margin-top: 100px;
    position: relative;
    font-size: 35px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
  }


}






/*=========Fixing the aboutPage (about.html)==========*/
/*----Starting with the mobile version---*/
/* --resizing the header image-- */
.logoabout {
  max-width: 100px;
  margin-top: 20px;
  margin-left: 10px;
}

/*--Positioning the main nav and styling it--*/

.nav-listabout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  margin-left: -20px;
  list-style-type: none;
}

.nav-listabout a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav-listabout a:hover {
  color: #556b2f;
}

.navabout,
.navblog,
.navservices,
.navgallery,
.navcontact {
  padding: 5px;
}

/*---animation for the whole screen--- */
.stone {
  pointer-events: none;
}


/* Applying the animation duration*/
.stone {
  animation: fly 60s linear infinite;
  pointer-events: none;
  top: 0;
  left: 0;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: 1s;
  z-index: 999999;
}

/* Keyframe values control where the element begins
    and ends across the screen. */


@keyframes fly {

  99%,
  0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
  }

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
  }

  16%,
  18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
  }

  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
  }

  41%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
  }

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
  }

  65.001%,
  68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
  }

  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
  }
}



/* Fixing the about us paragraph, mission and vision */
.aboutus {
  color: white;
  background-image: url(images/hanna-postova-SAYSiIaS6VU-unsplash\(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  box-shadow: 0 0 30px #87ceeb;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;

}

.aboutus:hover {
  background-image: url(images/james-wainscoat-bsOrJ05Oq6o-unsplash\(1\).jpg);
}

.missionabout,
.visionabout {
  font-size: 25px;
  font-weight: bold;
}

/* Starting the our team section and fixing each content and image */
.ourteam {
  color: white;
}

/* Applying the changes in color, fonts and location of the our team header */
.ourteamh2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 30px;
}

/* Fixing th0e first team member heading, image and paragraph */
.mohamedsection {
  padding-top: 30px;
  margin-top: 10px;
  margin-left: 35px;
}

.mohamed {
  position: relative;
  width: 400px;
  max-width: 80%;
  border-radius: 250px;
  box-shadow: 0px 0px 30px #AA8575;
}

.mohamedparag {
  padding-right: 25px;
}





/* Fixing the second team member image and paragraph */
.hodasection {
  padding-top: 50px;
  margin-top: 10px;
  margin-left: 35px;
}

.hoda {
  position: relative;
  width: 400px;
  max-width: 80%;
  border-radius: 250px;
  box-shadow: 0px 0px 30px #AA8575;
}

.hodaparag {
  padding-right: 25px;
  padding-bottom: 10px;
}

/* Changing the about page footer by relocating it to fit the page */

.footerabout {
  color: white;
  padding-top: 50px;
}

.audio {
  padding-left: 10px;
  padding-bottom: 10px;
}

.socialabout {
  display: flex;
  justify-content: center;
}

.copyabout {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: #AA8575;
}


/* Changing the page in regard to different sizes to be responsive*/


@media screen and (min-width: 508px) {
  .logoabout {
    max-width: 100px;
    margin-top: 20px;
    margin-left: 15px;
  }


  /*--Positioning the main nav and styling it--*/

  .nav-listabout {
    display: flex;
    flex-direction: row;
  }

  .nav-listabout a {
    color: white;
    font-size: 18px;
  }
}

@media screen and (min-width: 548px) {
  /* changing the our team section to suit the wider screen*/

  /* changing the our team header to bigger font size to fit the screen better and add hover */
  .ourteamh2 {
    font-size: 35px;
  }

  .ourteamh2:hover {
    color: skyblue;
  }

  /* continuing to fix the first member photo position and paragraph font and position */

  .mohamed {
    width: 700px;
    margin-left: 25px;
  }

  /* Fixing the first member section and paragraph fonts */

  .mohamedname,
  .mohamedparag {
    font-size: 25px;
  }


  /* continuing to fix the first member photo position and paragraph font and position */

  .hoda {
    width: 700px;
    margin-left: 25px;
  }

  /* Fixing the second member section and paragraph fonts */

  .hodaname,
  .hodaparag {
    font-size: 25px;
  }


}

@media screen and (min-width:730px) {
  /* Fixing the navigation font sizes */

  .nav-listabout a {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }

  /* Changing the  the about us section contents to fit larger screen */

  .aboutus {
    height: 600px;
    font-size: 20px;
  }

  /* applying the paddings to the mission section to be more organized */
  .containermission {
    padding-top: 10px;
  }

  /* applying the paddings to the vision section to be more organized */
  .containervision {
    padding-top: 20px;
  }
}

@media screen and (min-width:874px) {

  /* Fixing the font size of about us */
  .aboutus {
    height: 700px;
    font-size: 25px;
  }

  .headabout {
    font-size: 35px;
  }
}

@media screen and (min-width:890px) {

  /* Fixing the logo size and position */
  .logoabout {
    width: 200px;
    max-width: 20%;
    margin-bottom: 20px;
  }

  /* fixing the footer (social media contents and the copy right) */
  .footerabout {
    background-color: #f5f5f5;
    padding-bottom: 10px;
    margin-top: 45px;
  }

  /* fixing the social about */
  .socialabout {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -60px;
    margin-right: 20px;
  }


  /* Aligning the copyright footer */
  .copyabout {
    font-weight: lighter;
    color: #E0C7AB;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 15px;
  }
}

@media screen and (min-width:947px) {

  /* Fixing the about us section */
  .aboutus {
    font-size: 28px;
    margin-top: 20px;
  }

  .mohamed,
  .hoda {
    margin-left: 140px;
  }

}

@media screen and (min-width:947px) {

  /* Applying a grid to the team members to suit the wider page */
  .teamprofile {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /* Fixing the images in its location */
  .hoda,
  .mohamed {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1358px) {

  /* Aligning the about us header in the center */
  .headabout {
    display: flex;
    justify-content: center;
  }

  /* Fixing the font size of the headings inside the about us section to fit the backgroundimage and page */
  .missionabout,
  .visionabout {
    font-size: 35px;
  }

  /* resizing the paragraphs of the vision and mision*/
  .missionparag,
  .visionparag {
    font-size: 30px;
  }
}



/*======Fixing the contactPage (contact.html)======*/

/*----Starting with the mobile version---*/
/* --resizing the header image-- */
.contactlogo {
  display: flex;
  position: relative;
  max-width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

/* changing the contact body and back ground image */
.contactbody {
  background-image: url(Images/caroline-hernandez-5BKUtjC7O6A-unsplash\(1\).jpg);
  background-size: cover;

}

/*--Positioning the main nav and styling it to suit the contact page colors--*/

.nav-listcontact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  margin-left: -20px;
  text-decoration: none;
  list-style-type: none;
}

.nav-listcontact a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-listcontact a:hover {
  color: #556b2f;
}

/* fixing the contactus heading */
.contactush3 {
  padding-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  color: white;
}

/* fixing the table of hours */
/*--------hours of operation section-----*/
.ho {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-left: 60px;
  color: white;
}

/* Fixing the hours of operation table */

table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 40px;
  border: 0px solid;
  box-shadow: 0px 0px 4px 6px #AA8575;
  border-radius: 12px;
  background-color: white;
}

th {
  height: 70px;
}

table th:nth-child(n),
table td:nth-child(n) {

  border: 1px solid black;
  font-weight: bold;
  padding: 10px;
}

/* fixing the position of the heading "we love to hear from you"  */
.hearcontact {
  margin-left: 30px;
  margin-bottom: -50px;
}

/* fixing the position of the send us header  and adding animation*/
.senduscontact {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 50px;
}


.senduscontact {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.2);
    background-color: black;
    border-radius: 100%;
  }

  50% {
    background-color: grey;
  }

  100% {
    transform: scale(0.4);
    background-color: #AA8575;
  }

}


/* Fixing the form and its contents */

.containercontact {
  width: 80%;
  position: relative;
  height: 90%;
  border: 0px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 6px #AA8575;
  background-color: white;
  margin-bottom: -60px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;

}

fieldset {
  border: white;
}

.eui {
  font-size: 20px;
  padding-left: 20px;
}

/* fixing the first name input */
#first {

  position: relative;
  width: 100%;
  border-radius: 12px;
  padding: 3px;


}

/* fixing the last name input */
#last {
  position: relative;
  width: 100%;
  border-radius: 12px;
  padding: 3px;


}

/* fixing the email address input */
#email {
  position: relative;
  width: 100%;
  border-radius: 12px;
  padding: 3px;

}

/* fixing the phone number input */
#phone {
  position: relative;
  width: 100%;
  border-radius: 12px;
  padding: 3px;
}

/* fixing the submit button and resizing it */
/* Fixing the button */
.submitcontact {
  display: flex;
  justify-content: center;


}

#submit {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
}

#submit:hover {
  color: #AA8575;
}

/* fixing the agree policy to position it in the form */
#policies {
  margin-left: 20px;
  margin-bottom: 10px;
}

.agreecontact {
  font-size: 15px;
}

/* Fixing the location map,colors and its position */
.containercontactloc {
  margin-top: 120px;
  margin-left: 30px;
}

.mapcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 3px #AA8575;

}

.location {
  color: var(--white);
  text-shadow: 8px 8px 8px #AA8575;

}

/* Fixing the footer (social media contents and the copy right) */
/* Fixing the social home */
.socialcontact {
  display: flex;
  justify-content: center;
  margin-top: 150px;

}

.twitcontact,
.instcontact,
.facecontact {
  padding: 10px;

}

/* Aligning the copyright footer */
.copycontact {
  font-weight: lighter;
  color: #464646;
  display: flex;
  justify-content: center;
  font-size: 10px;

}

/* styling the whole footer and changing background color */
.footercontact {
  background-color: #f5f5f5;
  padding-bottom: 10px;
}



@media screen and (min-width: 508px) {


  /*--Positioning the main nav and styling it--*/

  .nav-listcontact {
    display: flex;
    flex-direction: row;
    text-shadow: 8px 8px 8px #AA8575;
  }

  .nav-listcontact a {
    font-size: 20px;
  }

}

@media screen and (min-width: 646px) {

  /* fixing the footer (social media contents and the copy right) */
  /* fixing the social contact */
  .socialcontact {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -60px;
    margin-right: 20px;
  }


  /* Aligning the copyright footer */
  .copycontact {
    font-weight: lighter;
    color: #E0C7AB;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 15px;
  }
}

@media screen and (min-width: 890px) {

  /* --resizing the header image-- */
  .contactlogo {
    width: 200px;
    max-width: 20%;
    margin-bottom: 20px;

  }
}


@media screen and (min-width: 941px) {

  /* Changing the font sizes of the nav */
  .nav-listcontact a {
    font-size: 25px;
  }



  /* Changing the whole page to a grid so each content can fit in the position */
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      " header header header"
      "main main aside"
      "aside1 aside1 aside"
      "footer footer footer"
    ;
  }

  .hocontact {
    grid-area: main;
  }

  .containercontactloc {
    grid-area: aside1;
  }

  .formcontact {
    grid-area: aside;
    margin-top: 70px;
  }

  /* positioning the form after the grid is applied */
  .containercontact {
    margin-top: 140px;
  }

  /* changing the size of the agreement statement in the form */
  .agreecontact {
    font-size: 13px;
  }

  /* changing the map size to suit its new position */
  /* Fixing the location map and its position */
  .containercontactloc {
    margin-top: 120px;
    margin-left: 30px;
  }

  .mapcontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 900px;
    max-width: 100%;
    border-radius: 12px;

  }

  .location {
    color: white;
    font-size: 25px;

  }
}

@media screen and (min-width: 1350px) {

  /* fixing the back ground image position to be more framed */
  .contactbody {
    background-image: url(Images/caroline-hernandez-5BKUtjC7O6A-unsplash\(1\).jpg);
    background-position: center;

  }

  /* Fixing the map width and position to fit the screen */
  .mapcontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1300px;
    max-width: 100%;
    margin-left: 30px;
    border-radius: 12px;

  }

  /* fixing the social contact in the footer to be organized more */
  .socialcontact {
    padding-top: 20px;
    margin-right: 40px;
  }

}



@media screen and (min-width: 1600px) {
  .mapcontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1500px;
    max-width: 100%;

    border-radius: 12px;

  }
}